.col1 {
  width: 8.3333333333%; }

.offset1 {
  margin-left: 8.3333333333%; }

.col2 {
  width: 16.6666666667%; }

.offset2 {
  margin-left: 16.6666666667%; }

.col3 {
  width: 25%; }

.offset3 {
  margin-left: 25%; }

.col4 {
  width: 33.3333333333%; }

.offset4 {
  margin-left: 33.3333333333%; }

.col5 {
  width: 41.6666666667%; }

.offset5 {
  margin-left: 41.6666666667%; }

.col6 {
  width: 50%; }

.offset6 {
  margin-left: 50%; }

.col7 {
  width: 58.3333333333%; }

.offset7 {
  margin-left: 58.3333333333%; }

.col8 {
  width: 66.6666666667%; }

.offset8 {
  margin-left: 66.6666666667%; }

.col9 {
  width: 75%; }

.offset9 {
  margin-left: 75%; }

.col10 {
  width: 83.3333333333%; }

.offset10 {
  margin-left: 83.3333333333%; }

.col11 {
  width: 91.6666666667%; }

.offset11 {
  margin-left: 91.6666666667%; }

.col12 {
  width: 100%; }

.offset12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .colM1 {
    width: 8.3333333333%; }

  .offsetM1 {
    margin-left: 8.3333333333%; }

  .colM2 {
    width: 16.6666666667%; }

  .offsetM2 {
    margin-left: 16.6666666667%; }

  .colM3 {
    width: 25%; }

  .offsetM3 {
    margin-left: 25%; }

  .colM4 {
    width: 33.3333333333%; }

  .offsetM4 {
    margin-left: 33.3333333333%; }

  .colM5 {
    width: 41.6666666667%; }

  .offsetM5 {
    margin-left: 41.6666666667%; }

  .colM6 {
    width: 50%; }

  .offsetM6 {
    margin-left: 50%; }

  .colM7 {
    width: 58.3333333333%; }

  .offsetM7 {
    margin-left: 58.3333333333%; }

  .colM8 {
    width: 66.6666666667%; }

  .offsetM8 {
    margin-left: 66.6666666667%; }

  .colM9 {
    width: 75%; }

  .offsetM9 {
    margin-left: 75%; }

  .colM10 {
    width: 83.3333333333%; }

  .offsetM10 {
    margin-left: 83.3333333333%; }

  .colM11 {
    width: 91.6666666667%; }

  .offsetM11 {
    margin-left: 91.6666666667%; }

  .colM12 {
    width: 100%; }

  .offsetM12 {
    margin-left: 100%; } }
@media (min-width: 1200px) {
  .colL1 {
    width: 8.3333333333%; }

  .offsetL1 {
    margin-left: 8.3333333333%; }

  .colL2 {
    width: 16.6666666667%; }

  .offsetL2 {
    margin-left: 16.6666666667%; }

  .colL3 {
    width: 25%; }

  .offsetL3 {
    margin-left: 25%; }

  .colL4 {
    width: 33.3333333333%; }

  .offsetL4 {
    margin-left: 33.3333333333%; }

  .colL5 {
    width: 41.6666666667%; }

  .offsetL5 {
    margin-left: 41.6666666667%; }

  .colL6 {
    width: 50%; }

  .offsetL6 {
    margin-left: 50%; }

  .colL7 {
    width: 58.3333333333%; }

  .offsetL7 {
    margin-left: 58.3333333333%; }

  .colL8 {
    width: 66.6666666667%; }

  .offsetL8 {
    margin-left: 66.6666666667%; }

  .colL9 {
    width: 75%; }

  .offsetL9 {
    margin-left: 75%; }

  .colL10 {
    width: 83.3333333333%; }

  .offsetL10 {
    margin-left: 83.3333333333%; }

  .colL11 {
    width: 91.6666666667%; }

  .offsetL11 {
    margin-left: 91.6666666667%; }

  .colL12 {
    width: 100%; }

  .offsetL12 {
    margin-left: 100%; } }
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none; }

.bg-color--gray {
  background-color: #F2F2F2; }

p {
  color: #333333;
  font-family: 'Oswald', sans-serif;
  font-size: 1.25em;
  width: 34em;
  text-shadow: -3px -3px -3px #CCC; }

.p__about--center p {
  text-align: center;
  margin: 0 auto; }

.p__reviews--center p {
  text-align: center;
  width: 24em;
  margin: 0 auto;
  padding: 30px; }

.img__reviews--center img {
  text-align: center;
  margin: 0 auto; }

.page-container {
  max-width: 1000px;
  width: 100vh;
  margin: 0 auto;
  padding-top: 151px; }

.row {
  margin-bottom: 30px; }
  .row::after {
    clear: both;
    display: block;
    content: ''; }

.row--no-padding {
  margin-bottom: none; }

.col {
  float: left; }

.navigation {
  height: 151px; }

.nav__fixed {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; }

#logo {
  padding-top: 25px;
  margin-left: 20px;
  width: 446px; }

header nav {
  padding-top: 50px;
  float: right; }

header nav ul li {
  font-family: 'Oswald', sans-serif;
  text-transform: lowercase;
  font-size: 30px;
  color: #fff;
  font-size: 2em;
  float: left;
  padding-right: 40px;
  text-shadow: -3px -3px -3px #CCC; }

nav ul li {
  width: 26%;
  text-align: center; }

header nav ul li a:hover, #nav__active {
  border-bottom: 3px solid white; }

.p__footer--left p {
  display: inline-block;
  float: left;
  margin-left: 20px;
  color: white;
  width: 100%;
  text-align: left;
  font-size: 20px;
  text-shadow: -3px -3px -3px #CCC; }

.p__footer--middle p {
  display: inline-block;
  float: left;
  margin-left: 0px;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 18px;
  text-shadow: -3px -3px -3px #CCC; }

.p__footer--right p {
  padding-top: 0px !important;
  display: inline-block;
  float: right;
  color: white;
  width: 100%;
  text-align: right;
  font-size: 24px;
  text-shadow: -3px -3px -3px #CCC; }

.fb-logo img {
  float: right;
  right: 0;
  margin-right: 20px; }

.footer {
  padding-top: 25px;
  height: 82px;
  width: 100%;
  padding-bottom: none !important;
  align: center; }

a:link {
  color: white; }

a:visited {
  color: white; }

a:hover {
  color: white; }

.menu--small .btn {
  text-align: center;
  background-color: #99CC99;
  font-size: 25px;
  color: white;
  text-shadow: -3px -3px -3px #CCC;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  border-radius: 50px;
  border: none;
  padding: 2px 25px 2px 25px; }

.container {
  position: relative;
  width: 100%;
  max-width: 1000px; }

.container img {
  width: 100%;
  height: auto; }

.container .p__menu--center p {
  position: absolute;
  bottom: 28%;
  right: 0;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  width: 24em;
  text-shadow: -3px -3px -3px #CCC;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  padding: 0px 70px 10px 70px; }

.container .btn--menu {
  position: absolute;
  bottom: 15%;
  right: 0;
  transform: translate(-35%, -20%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 40px;
  color: white;
  text-shadow: 0px 3px 6px #000000;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  border-radius: 2px;
  border: 5px double white;
  padding: 0px 70px 10px 70px; }

.container .btn--reservations {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 40px;
  color: white;
  text-shadow: 0px 3px 6px #000000;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  border-radius: 2px;
  border: 5px double white;
  padding: 2px 70px 10px 70px; }

.container .btn:hover {
  background-color: rgba(255, 255, 255, 0.85);
  color: white; }

/*POSITIONING*/
.brand-color {
  background-color: #99CC99; }

/*# sourceMappingURL=style.css.map */
