@mixin headings{
	color: #333333;
	font-family: 'Oswald', sans-serif;
	font-style: bold;
	text-shadow: $text-shadow;
}

@mixin text-body{
	color: #333333;
	font-family: 'Oswald', sans-serif;
	text-shadow: $text-shadow;
}

@mixin align--center{
	text-align: center;
	margin: 0 auto;
}

@mixin text-footer {
	display: inline-block;
	float: left;
	color: white;
	width: 100%;
}

@mixin image-button {
	font-size: 40px;
	color: white;
	font-family: 'Oswald', sans-serif;
	text-shadow: $button-shadow;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	cursor: pointer;
	position: absolute;
	-ms-transform: translate(-50%, -50%);
	background-color: hsla(360, 100%, 100%, 0.6);
	border-radius: 2px;
	border: 5px double white;
}