
@import 'variables';

*{
	box-sizing:border-box;
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style-type: none;
	
}

// TEXT COLOUR and FONT

p {
	color: #333333;
	font-family: 'Oswald', sans-serif;
}

.p__about--center p{
	text-align: center;
	font-size: 1.125em;
	font-style: normal;
	width: 34em;
	margin: 0 auto;

}

// ROW, COL AND PAGE CONTAINER
.pageContainer {
	max-width: 1000px;
	width: 100vh;
	margin: 0 auto;
}

.row{
    // margin-bottom: 15px;
    &::after{
        clear: both;
        display: block;
        content: '';
    }
}

.col{
    float: left;
    // padding-right: 15px;
    // padding-left: 15px;
}

// NAVIGATION

#logo{
	padding-top: 15px;
 	margin-left: 20px;
 	width: 20%;
}

header nav {
	padding-top: 25px;
	float: right;

}

header nav ul li {
    font-family: 'Oswald', sans-serif;
    text-transform: lowercase;
    color: #fff;
    font-size: 2em;
    float: left;
    padding-right: 30px;
    text-shadow: $shadow;
}

nav ul li {
	width: 26%;
    text-align: center;
}

header nav ul li a:hover, #active_nav {
	border-bottom: 0.2rem solid white;
}


// FOOTER

.footer {
	height: 50px;
}

// LINKS

a:link {
	color: white;
}

a:visited {
  	color: white;
}

a:hover {
	color: white;
}


/*POSITIONING*/

// .relative{
// 	position: relative;
// 	width: 500px;
// 	top: -100px;
// 	left: 200px;
// }

// .fixed{
// 	position: fixed;
// 	top: 100px;
// 	right: 20px;
// }

// .relative2{
// 	position: relative;
// }

// COLOURS

.brandColor {
    background-color: $brandColor;
}

// .backgroundColor {
//     background-color: $backgroundColor;
// }


.shadow {
text-shadow:$shadow
}

